html {
    background-color: black;
}

#listbutton {
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#leaderboardbutton {
    padding-top: 5px;
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#accountbutton {
    padding-top: 5px;
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#logo {
    display: block;
    margin: auto;
}

