html {
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url('https://media.discordapp.net/attachments/1245200525612286076/1258568152590188625/image.png?ex=6688846e&is=668732ee&hm=2d6d623b6861323ac5b1910978b500c78896d71ea790601cfcd8675129f2d114&=&format=webp&quality=lossless');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.whitetext {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
 }

.avatars {
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    margin: auto;
}

#userstatstext {
    color: gold;
    display: none;
}

#userstatstext2 {
    display: none;
}

#credits {
    display: none;
}

#userstats {
    display: none;
}

#toggle {
    display: none;
    margin: auto;
    background-color: blue;
    color: gold;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
}

.statsvisibilitybuttons button {
    display: none;
    margin: auto;
    background-color: blue;
    color: gold;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
}
