html {
    background-color: black;
}

#listbutton {
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#leaderboardbutton {
    padding-top: 5px;
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#accountbutton {
    padding-top: 5px;
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#roulettebutton {
    padding-top: 5px;
    display: block;
    margin: auto;
    max-height: 250px;
    min-height: 250px;
}

#logo {
    display: block;
    margin: auto;
}

.whitetext {
    color: white;
    font-family: "Poppins", sans-serif;
    height: 40px; 
    position: fixed; 
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}
 