html {
    background-color: black;
    zoom: 0%;
}

.centered {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    position: relative;
    bottom: 75px;
}

.centered2 {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    position: relative;
}

:disabled {
    background-color: gray !important;
    border-color: gray !important;
}
